html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

.tagsOfSnippet {
  width: 100%;
}

.snippetEditor {
  /* https://stackoverflow.com/questions/28785588/how-to-get-the-ace-editor-to-adjust-to-its-parent-div */
  width: 100%;
  height: 100%;
  position: relative;
}
